<div class="h-auto w-3/5 bg-green-300 ml-auto mr-auto mt-5 p-5 rounded-2xl">
  <div class="ml-auto mr-auto text-center">
    <h2 class="font-bold text-2xl ml-auto mr-auto mb-5 ">ToDo</h2>
    <input class="p-1 rounded-md shadow-md" [(ngModel)]="task" [disabled]="disabled" placeholder="Enter New Task">
    <button (click)="addNewTask()" class="bg-blue-600  p-1  m-1 rounded-md w-16 text-white font-bold shadow-md">Add</button>
    <div>
      <ul>
        <li *ngFor="let todoItem of taskList; let i = index">
          <div class="text-left ml-16 mt-3 p-3 rounded-lg bg-white w-2/3 flow-root">
            <input type="checkbox" (change)="complete(i)" class="">
            <span>{{todoItem.task}}</span>
            <button class="bg-red-700 float-right p-1  m-1 rounded-md w-16 text-white font-bold shadow-md">Delete</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
